#skills {
  background-color: $dark-gray;
  color: $white;
}

.skills__title {
  margin-left: $l-size;
  align-self: flex-start;
}

.skills__skill-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $xl-size 0;
}

.skills__skill-card {
  background-color: lighten($dark-gray, 5%);
  width: 60%;
  margin: 20px;
  display: flex;
  flex-direction: column;

  padding-bottom: 20px;
  p {
    font-size: $l-size;
    padding-left: 15px;
    color: (lighten($gray, 20%));
    align-self: flex-start;
  }
  ul {
    padding-left: 20%;
  }
}

@media screen and (min-width: 500px) {
  #skills{
    height: 100vh;
  }
  .skills__skill-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20vh 0;
  }

  .skills__skill-card {
    max-width: 300px;
  }
}
