body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	margin: 0%;
	background-color: rgb(0, 0, 0, 0.05);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

#skills {
	padding: 30px 30px 30px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-shadow: 0px 2px 5px 0.1px rgb(117, 117, 117);
	width: 70%;
	background-color: white;
}

#about {
	padding: 30px 30px 30px 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	box-shadow: 0px 2px 5px 0.1px rgb(117, 117, 117);
	width: 70%;
	background-color: white;
}

#projects {
	padding: 30px 30px 30px 30px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 2px 5px 0.1px rgb(117, 117, 117);
	width: 70%;
	background-color: white;
}

#contact {
	padding: 0px 30px 0px 30px;
	display: flex;
	flex-direction: column;
	/* box-shadow: 0px 0px 50px 0.25px rgb(117, 117, 117); */
	/* width: 100%; */
}

#links {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0 0 0 0;
}
#line {
	width: 1px;
	height: 200px;
	background-color: black;
	margin: 20px 20px 20px 20px;
}

#wideline {
	width: 25%;
	height: 3px;
	background-color: rgb(0, 0, 0, 0.25);
	margin: 0px 20px 20px 20px;
}

.youtube {
	max-width: 80%;
}

div {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px 15px 15px 15px;
	/* width: 80%;
	padding: 20px 20px 20px 20px;
	background-color: rgb(174, 180, 179);

	box-shadow: -1px 3px 10px 1px rgba(100, 100, 100, 100); */
}

h1 {
	font-size: 58px;
	color: white;
	letter-spacing: 5px;
	margin: 30px 10px 30px 10px;
	text-transform: uppercase;
}

h2 {
	font-size: 34px;
	color: rgb(341, 89, 70);
	text-transform: uppercase;
	margin: 5px 10px 10px 10px;
}

p {
	font-size: 20px;
	padding: 10px 100px 10px 100px;
}
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: rgb(341, 89, 70);
	width: 100%;
	background-size: cover;
	background-position: center;
	box-shadow: 0px 0px 5px 0.25px rgb(117, 117, 117);
	margin: 0px 0px 30px 0px;
}

a {
	padding: 10px 30px 30px 30px;
	color: white;
}

a:visited {
	color: white;
}
a:hover {
	color: black;
}

#margin {
	margin: 0 5px 5px 5px;
}
