body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(141, 147, 156);
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.profilePic {
	height: 100%;
	margin: 0 0 0 50px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin: 15px 15px 15px 15px;
	padding: 20px 20px 20px 20px;
	background-color: rgb(174, 180, 179);

	box-shadow: -1px 6px 10px 5px rgba(100, 100, 100, 100);
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
}

a {
	padding: 30px 30px 30px 30px;
}

.skills {
	padding: 30px 30px 30px 30px;
}

.youtube {
	max-width: 75%;
}

.picture {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	height: 200px;
	margin: 10px 10px 10px 10px;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 38px;
}

p {
	font-size: 24px;
	padding: 10px 100px 10px 100px;
}
